





















































































































































































































































*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.container-Inicio-sesion{
  width: 100%;
  height: 100vh;
  background-image: url("src/assets/img/fondo.jpeg");
  background-position: center;
  display: flex;
  justify-content: center;
  
  
  
}
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 1s ease;
  
}

.form .form_front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  backface-visibility: hidden;
  padding: 65px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  background-color: #424242;
  
}
.logo{
  width: 50px;
  height: 50px;
  object-fit: contain;

}
.logo:hover{
  zoom: 1.1;
  cursor: pointer;
}

.form .form_back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  padding: 55px 45px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  background-color: #424242;
}

.form_details {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #DFAF67;
}

.input {
  width: 245px;
  min-height: 45px;
  color: #000000;
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6);
}

.input::placeholder{
  color: #000000;
}

.input:focus.input::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6),
  inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px #DFAF67;
}

.btn {
  padding: 10px 35px;
  cursor: pointer;
  background-color: #DFAF67;
  border-radius: 6px;
  border: 2px solid #212121;
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  transition: 0.35s;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
  
}

.btn:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6),
  inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}

.form .switch {
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.form .switch .signup_tog {
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
  color: #DFAF67;
  margin-left: 15px;
}

.container-login  #signup_toggle {
  display: none;
}

.container-login  #signup_toggle:checked + .form {
  transform: rotateY(-180deg);
}